*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{ 
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/background.jpg);
   background-size: cover;
   background-position: centre;
}
 .logo{
   width: 45px;
   cursor: pointer;
   position: relative;
   left: -100px;
   
}
.navbar{
   width: 85%;
   margin: auto;
   padding: 35px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navbar ul li {
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   position: relative;

}
 .navbar ul li a{
   text-decoration: none;
   color: #fff;
   text-transform: uppercase;
}
.navbar ul li::after{
   content: '';
   height: 3px;
   width: 0%;
   background: #009688;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}
.navbar ul li:hover::after{
   width: 100%;
}

body{ 
    animation: transitionIn 0.75s;
}

  
h2 {
   margin-top: 0;
 }
 
 b {
   display: inline-block;
   background-color: #333;
   color: grey;
   padding: 10px 20px;
   text-decoration: none;
   border-radius: 5px;
   margin-top: 50px;
   box-shadow: 0 0 10px rgba(128, 128, 128, 0.4);
 }

 
 footer {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
 }
 
 b:hover {
   background-color: #666;
 }
 .project-list {
   background-color: grey;
   padding: 30px;
   margin: 40px;
   box-shadow: 0 0 10px rgba(128, 128, 128, 0.4);
   border-radius: 30px;
   border: 8px solid transparent;
   animation: rainbow 20s linear infinite;
 }
 footer {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   color:#fff
 }
 .project-list {
   background-color: grey;
   padding: 20px;
   margin: 40px;
   box-shadow: 0 0 10px rgba(128, 128, 128, 0.4);
   border-radius: 30px;
   border: 8px solid transparent;
   animation: rainbow 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;

 }
 
 @keyframes rainbow {
   0% {
     border-color: red;
   }
   16.67% {
     border-color: orange;
   }
   33.33% {
     border-color: yellow;
   }
   50% {
     border-color: green;
   }
   66.67% {
     border-color: blue;
   }
   83.33% {
     border-color: indigo;
   }
   100% {
     border-color: violet;
   }
   0% {
      border-color: red;
   }
 }
 
 
 body{
   animation: transitionIn 0.75s;
 }
 @keyframes transitionIn {
 from{ 
   opacity: 0;
   transform: rotateX(-10deg);
 }
 to {
   opacity: 1;
   transform: rotateX('0');
 }
 
}